.wrapper {
  padding: 50px 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: rgba(255, 255, 255,0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #e8b4b0;	
  border-radius: 10px;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 55px;
  font-weight: normal;
  color: #fff;
  letter-spacing: 1px;
  display: inline-block;
  margin: 0 0 20px;
}

p {
  font-size: 24px;
  color: #fff;
}