@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=New+Tegomin&display=swap');

body {
  background: #044855;
  margin: 0;
  font-family: 'New Tegomin', serif;
}

.text-center {
  text-align: center;
}